<mat-toolbar color="accent" style="margin-top: 0 !important;">
  <h1 class="example-app-name">Dashboard</h1>
  <span class="spacer"></span>
</mat-toolbar>
<div class="container-fluid">
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>User</mat-card-title>
            <mat-card-subtitle>{{ userCount }}</mat-card-subtitle>
          </mat-card-header>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header>
            <mat-card-title>Project</mat-card-title>
            <mat-card-subtitle>0</mat-card-subtitle>
          </mat-card-header>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
