<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Admin</mat-card-title>
    <mat-card-subtitle>user</mat-card-subtitle>
  </mat-card-header>
</mat-card>
<mat-nav-list>
  <a mat-list-item routerLink="/app/dashboard"
    ><mat-icon class="mr-2">home</mat-icon> Dashboard</a
  > </mat-nav-list
><mat-nav-list>
  <a mat-list-item routerLink="/app/project/list"
    ><mat-icon class="mr-2">source</mat-icon> Project</a
  > </mat-nav-list
><mat-nav-list>
  <a mat-list-item routerLink="/app/user/list"
    ><mat-icon class="mr-2">assignment_turned_in</mat-icon> User</a
  >
</mat-nav-list>
